html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.header {
  background-color: #0078D7;
  height: 48px;
}

.header-title {
  color: white;
  line-height: 48px;
  margin-left: 20px;
}

.container {
  height: 100%;
}

.content {
  height: calc(100% - 48px);
  display: flex;
  flex-direction: row;
}

.left-column {
  background-color: #F4F4F4;
  flex: 0 0 290px;
  border-right: 1px solid #EAEAEA;
}

.center-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.right-column {
  background-color: #F4F4F4;
  flex: 0 0 360px;
  border-left: 1px solid #EAEAEA;
}

.type-item-container {
  margin-top: 60px;
}

.type-item {
  width: 100%;
  height: 36px;
  line-height: 36px;
}

.type-item:hover {
  background-color:#ededed;
}

.type-item > span {
  display: flex;
  margin: 0 20px;
}

.type-item-focus {
  background-color:#ededed;
  color: #0078D7;
}

.add-type-item {
  outline: 0;
}

.add-type-item > span::before {
  content: '+';
  margin-right: 5px;
}

.add-type-item-input {
  flex-grow: 1;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: "Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1em;
}

.type-header {
  padding: 24px 32px;
  color: #0078D7;
  font-size: 1.4em;
}

.achievement-item-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: scroll;
}

.add-achievement-item {
  flex: 0 0;
  margin: 0 16px;
  border-bottom: 1px solid #EAEAEA;
  height: 46px;
  line-height: 46px;
}

.add-achievement-item > span {
  display: flex;
}

.add-achievement-item > span::before {
  content: '+';
  margin-right: 5px;
}

.add-achievement-item-input {
  flex-grow: 1;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-family: "Microsoft Yahei","微软雅黑","STXihei","Meiryo UI","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic","Hiragino Kaku Gothic Pro","Arial Unicode MS","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 1em;
  height: 46px;
}

.achievement-list {
  flex: 1 1 auto;
  overflow: scroll;
}

.achievement-item {
  flex: 0 0;
  margin: 0 16px;
  border-bottom: 1px solid #EAEAEA;
  height: 46px;
  line-height: 46px;
}

.achievement-item:hover {
  background-color:#ededed;
}